name: Rust CI

on:
  pull_request:
    branches: ["main"]
  push:
    branches: ["main", "dev"]

env:
  CARGO_TERM_COLOR: always

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          rustflags: ""         # let Clippy 
          components: clippy,rustfmt
      - name: Format check
        run: cargo fmt --all --check
      - name: Clippy (deny warnings)
        run: cargo clippy --all-targets --all-features -- -D warnings

  build_and_test:
    runs-on: ubuntu-latest
    needs: lint
    steps:
      - uses: actions/checkout@v5
      - uses: actions/cache@v4
        with:
          path: |
            ~/.cargo/bin/
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
            target/
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}
      - uses: actions-rust-lang/setup-rust-toolchain@v1
        # with:
        #   toolchain: ${{ matrix.toolchain }}
      - name: Build
        run: cargo build --locked --workspace --all-features --verbose
      - name: Test
        run: cargo test --locked --workspace --all-features --verbose
